<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript"> 
      $(document).ready(function() {
        $('.dropdown-toggle').dropdown()
      });
    </script>
</head>

<body style="background-color: #eee">

    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">BFIG</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>

            {% if current_user.is_active and current_user.is_verified() %}
            <li class="active"><a href="{{ url_for('week', week_id=1) }}">Week 1</a></li>
            {% endif %}
            
            {% if current_user.is_active and current_user.is_admin() %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('admin') }}">Admin Panel</a></li>
                <li><a href="{{ url_for('admin_users') }}">Users</a></li>
              </ul>
            </li>
            {% endif %}

          </ul>
          <ul class="nav navbar-nav navbar-right">

            {% if current_user.is_active %}
            <li class="active"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li class="active"><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
    <br>
    <div>
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{category}} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ message }}
        </div>
      {% endfor %}
    </div>
    {% block page_content %}{% endblock %}
    </div>

</body>
</html>