{% extends "base.html" %}

{% block page_content %}
<div class="top-pad">
    <form 
        method="POST" 
        role="form"
        class="form-signin"
        style="max-width: 300px; margin: 0 auto;">
        <h2 class="form-signin-heading text-center">Please login</h2>
        {{ form.csrf_token }}
        <div >{{ form.username(class="form-control", placeholder="Username") }}</div>
        <div >{{ form.password(class="form-control", placeholder="Password") }}</div>
        <button type="submit" class="btn btn-primary btn-block" style="margin-top: 15px;">Submit</button>
    </form>
</div>

{% endblock %}